:root{
    /* Color styles */
    --dark-gray: #2C3E50;
    --aqua: #1ABC9C;
    --white: #FFFFFF;
    --light-gray: #3A546D;
    --black: #333333;
}
main{
    color: white;
}
.lip-text-medium{
    font-size: 0.7rem
}
.lip-text-w{
    color: white;
}
header, #footer-bot, .lip-bg-dark-grey, #main-nav{
    background-color: var(--dark-gray);
}
#hero, #about{
    background-color: var(--aqua);
}
#portfolio, #contact{
    background-color: var(--white);
    color: var(--black);
}
#footer-top{
    background-color: var(--light-gray);
}

/* header */
header .container .navbar-toggler span{
    filter: invert(1);
}
header .container .navbar-toggler{
    opacity: 1;
}
.nav-link:focus, .nav-link:hover {
    color: lightgrey;
}
.navbar-brand:focus, .navbar-brand:hover {
    color: lightgray;
}

/* main */

/* hero */
.hero-img{
    width: 30%;
    min-width: 200px;
}
.star-icon{
    width: 100%;
}
.star-icon i{
    position: relative;
    top: -5px;
}
.star-icon hr{
 width: 15%;
 opacity: 1;
 
}
/* portfolio */
.general.star-icon{
    width: 70%;
}
/* about */
#about .btn{
    border: 1px solid white;
    color: white;
}




